<!doctype html>
<html lang="en">

  {% include head.html %}
 
  {% include script.html %}

  <head>
  <!-- meta data & title -->
  <meta charset="utf-8">
  <title>Hermit Bride of Crucified Love</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Website of Myles Gallagher, Hermit Bride of Crucified Love.
">
  <meta name="author" content="">

  <!-- Favicon and touch icons -->
  <link rel="shortcut icon" href="../assets/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">

  <!-- CSS -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300">
  <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
  <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
  <link rel="stylesheet" href="../assets/css/animate.min.css">
  <link rel="stylesheet" href="../assets/css/style.css">
</head>
  <!-- Header -->
<nav id="navbar-section" class="navbar navbar-default navbar-static-top navbar-sticky" role="navigation">
  <div class="container">
  
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <div class="box55">
        <a class="navbar-brand wow fadeInDownBig" href="index.html"><img class="office-logo" src="../assets/img/slider/MylesBadge.png" alt="Myles Gallagher"></a>
        <div class="text55">
            <h1></h1>
        </div>
    </div>

    <!--
    <a class="navbar-brand wow fadeInDownBig" href="index.html"><img class="office-logo" src="../assets/img/slider/MylesBadge.png" alt="Myles Gallagher"></a>
    <h2>Myles Gallagher</h2>
  -->

  </div>

  <div id="navbar-spy" class="collapse navbar-collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav pull-right">
      
      <li class="active">
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/about.html">About</a>
      </li>
      <!-- <li>
        <a href="/blog.html">Blog</a>
      </li> -->
      <li>
        <a href="/team.html">Publications</a>
      </li>
      <!-- <li>
        <a href="/contact.html"><span>Contact</span></a>
      </li> -->
    </ul>         
  </div>
  </div>
</nav>

<!-- End Header -->
  <script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
<script src="../assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../js/wow.min.js"></script>
<script>
  new WOW().init();
</script>

  <body>
    <!-- Begin #carousel-section -->
    <section id="carousel-section" class="section-global-wrapper"> 
        <div class="container-fluid-kamn">
            <div class="row">
                <div id="carousel-1" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ol class="carousel-indicators visible-lg">
                        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-1" data-slide-to="1"></li>
                        <li data-target="#carousel-1" data-slide-to="2"></li>
                    </ol>
        
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <!-- Begin Slide 1 -->
                        <div class="item active">
                            <img src="../assets/img/slider/MylesHouse2.png" height="400" alt="Image of first carousel">
                            <div class="carousel-caption">
                               <!-- <h3 class="carousel-title hidden-xs"> -->
                                 <h3 class="carousel-title"> 
                                MYLES GALLAGHER</h3>
                                <p class="hermitBrideText">Hermit Bride of Crucified Love</p>
                            </div>
                        </div>
                        <!-- End Slide 1 -->

                        <!-- Begin Slide 2 -->

                        <!--
                        <div class="item">
                            <img src="../assets/img/slider/slide4.jpg" height="400" alt="Image of second carousel">
                            <div class="carousel-caption">
                                <h3 class="carousel-title hidden-xs"><h3 class="carousel-title hidden-xs"> MYLES GALLAGHER</h3>
                                <p class="carousel-body">BEAUTIFUL \ CLEAN \ MINIMAL</p>
                            </div>
                        </div>
                        <!-- End Slide 2 -->

                    -->

                        <!-- Begin Slide 3 -->
                        <!--
                        <div class="item">
                            <img src="../assets/img/slider/slide2.jpg" height="400" alt="Image of third carousel">
                            <div class="carousel-caption">
                                
                                <h3 class="carousel-title hidden-xs"><h3 class="carousel-title hidden-xs"> MYLES GALLAGHER</h3>
                      
                                <p class="carousel-body">PORTFOLIO \ CORPORATE \ CREATIVE</p>
                            </div>
                        </div>
                    -->
                        <!-- End Slide 3 -->

                    </div>
        
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-1" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-1" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End #carousel-section -->

<div class="row gx-5">
<div class="col-lg-6">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ZFGn1EUA974" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Myles Joseph Gallagher - A Life Less Trodden</h3>
    </div>
    <div class="col-lg-6">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/7oiAJnmP3PM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Myles Joseph Gallagher - The Last Days in the Life of a Hermit</h3>
    </div>
    <hr>
  </br>
</div>

    <!-- Begin #services-section -->

    <section id="services" class="services-section section-global-wrapper">
        <div class="container">
            <div class="row">
                <!-- <div class="services-header">
                    <h3 class="services-header-title">The word incarnate the bridegroom opened his arms on the cross and laid down his life for his beloved bride.</h3>
                    <p class="services-header-body"><em> Christ has dies <br> Christ is Risen <br> Christ will come again </em>  </p><hr>
                </div> -->

                <div class="row">
                <div class="services-header">
                    <h1>Publications</h1>
                </div>
            </div>

               <!-- Begin Services Row 0 -->
            <div class="row services-row services-row-tail services-row-2">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="services-group wow animated zoomIn" data-wow-offset="40">
                      <a href="../doYouLoveMe.html">
                        <img src="../assets/img/slider/DoYouLoveMe.png" style="width:40%";>
                      </a>
                        
                        

                        <p class="services-body">Do You Love Me?</p>
                        <p class="services-more"><a href="#">Click to read</a></p>
                </div>
            </div>
        
                
        
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="services-group wow animated zoomIn" data-wow-offset="40">
                      <a href="100Verses.html">
                        <img src="../assets/img/slider/100ScriptureVerses.png" style="width:40%">
                      </a>
                        
                        
                        <p class="services-body">100 Scripture Verses for Every Day</p>
                        <p class="services-more"><a href="#">Click to read</a></p>
                </div>
                </div>
            </div>
            <!-- End Serivces Row 0 -->
            <div class="row services-row services-row-tail services-row-2">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="services-group wow animated zoomIn" data-wow-offset="40">
                      <a href="../IrishEyes.html">
                        <img src="../assets/img/slider/IrishEyes.png" style="width:40%";>
                      </a>
                        
                        

                        <p class="services-body">When Irish Eyes are Smiling</p>
                        <p class="services-more"><a href="#">Click to read</a></p>
                </div>
            </div>
        
                
        
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="services-group wow animated zoomIn" data-wow-offset="40">
                      <a href="LastDays.html">
                        <img src="../assets/img/slider/LastDays.png" style="width:40%">
                      </a>
                        
                        The Last Days in the Life of a Hermit</p>
                        <p class="services-more"><a href="#">Click to read</a></p>
                </div>
                </div>
            </div>

         
            

    
        </div>      
    </section>
    <!-- End #services-section -->
    
</div>
  </body>

 


  {% include footer.html %}
</html>
